body {
    font-family: sans-serif;
    font-size: 12px;
}

.link-bar {
    list-style: none;
}
li {
    display: inline;
    justify-content: space-evenly;
    padding-left: 13px;
}
button{
    border:none;
}
#link-left {
    position: relative;
    float: left;
    margin-left: -38px;
    margin-top: 15px;
    font-size: 12px;
    font-family: sans-serif;
}
#link-right {
    position: relative;
    float: right;
    padding-right:2.25em;
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 8px;
    margin-right: -4px;
}
#google-logo {
    display: block;
    margin: auto;
    padding-top: 11.9rem;
    padding-left: 12.1rem;
}
#menu-button {
    position: relative;
    height: 20px;
    width: 20px;
    border-radius: 25%;
    padding-top: 10px;
}
#signIn-button {
    background-color:dodgerblue;
    border-color: dodgerblue;
    color: white;
    padding: 5px 13px 5px 13px;
}
#search-container {
    padding: 7px 0px;
    margin: auto;
    border: solid;
    margin-top: 27px;
    width: 48em;
    border-radius: 66px;
    border-width: thin;
    border-color: lightgrey;
}
#searchBar {
    border: none;
    display: inline-block;
    /* margin: auto; */

    height: 27px;
    width: 30em;
    font-size: 16px;
    margin-right: 3px;
}
#searchIcon{
    position: relative;
    display: inline-block;
    height: 16px;
    margin-bottom: px;
    margin-left: 15px;
    padding-right: 7px;

}
#microphoneIcon{
    position: relative;
    float:right;
    
    /* position: relative; */
    /* display: inline-block; */
    height: 17px;
    /* padding-left: 10px; */
    margin-top: 6px;
    margin-right: 17px;
}
.googleButton{
    width: auto;
    margin-right: 9px;
    background-color: #eeeeee;
    height: 35px;
    margin-top: 30px;
    font-size: 14px;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
}
.luckyButton{
    width: auto;
    margin: auto;
    height: 35px;
    font-size: 14px;
    border-radius: 5px;
    padding: 0px 15px 0px 15px;
    background-color: #eeeeee;
}


#buttonContainer{
    padding-left: 35px;
    margin:auto;
    width: 20vw;
    
}
footer{
    background-color: #eeeeee;
    position: fixed;
    bottom: 0;

}
#footer-left{
    position: relative;
    float: left;
    font-size: 13px;
    word-spacing:10px;
    padding-left: 10px;

    
}
#footer-right{
    position: relative;
    float: right;
    padding-left: 65.5vw;
    font-size: 13px;
   word-spacing: 10px;
}